#!/bin/bash

# Это пример точки удаленного доступа к командам git в конкретном entity
# Для работы через него нужно только сменить директорию в шаблоне на свою и добавить на сервер свой ssh key
ARGS=$(printf '"%s" ' "$@")
CMD="cd ~/kirill.tm-dev-test.ru/public_html && git $ARGS"
ssh cu45551@185.114.245.201 "$CMD"
